# Extra KiCAD directories
*-backups
fp-info-cache

# Gerbers for board manufacture are outputs, not source
PCBWay

# It's not worth storing the photos I used to figure out the fogger schematics.
generic fogger timer reference photos
litefx timer reference photos
